<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_page.css') }}">
</head>
<body>
    
    <div id="global">

        <div class="top_nav_bar">
            <a class="logo-link" href="/homepage">
                <img class="minute_header" src="../../static/media/minute_header.png" alt="minute header">
            </a>
            <div class="account">
                <a href="/account">Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div class="main">
            <h2>Track your Future</h2>
            <div class="body">
                <div class="side-nav-bar">
                    <a href="/homepage"><h2 class="return-home">Home</h2></a>
                    <div class="side-calender">
                        <h2>Calender</h2>
                        <div class="side-links">
                            <a href="/calender">View</a>
                            <a>Manage</a>
                        </div>
                    </div>
                    <div class="side-evaluation">
                        <h2>Application</h2>
                        <div class="side-links">
                            <a href="/applications">View</a>
                            <a>Manage</a>
                        </div>
                    </div>
                    <div class="side-evaluation">
                        <h2>Evaluations</h2>
                        <div class="side-links">
                            <a href="/evaluation">View</a>
                            <a>Manage</a>
                        </div>
                    </div>
                    <div class="side-minute">
                        <h2>Minutes</h2>
                        <a class="side-links" href="/minute">Queue</a>
                    </div>
                </div>
    
                <div class="content">
                    <div class="account">
                        <div class="account_details">
                            <h3>Account Settings</h3>
                            <form>
                                <label>
                                    Change your email : 
                                    <input>
                                </label>
                                <button>Change Email</button>
                            </form>
                            <form>
                                <label>
                                    Change your password : 
                                    <input>
                                </label>
                                <button>Change Password</button>
                            </form>
                        </div>
                        <div class="account_resume">
                            {% if resumes %}
                                <h3>Edit Attributes</h3>
                                {% else %}
                                <h3>Add Attributes</h3>
                            {% endif %}
                            <div>
                                {% if resumes %}
                                <form action="/edit_attributes" method="POST">
                                    
                                        <label>
                                            Pitch
                                            <textarea name="pitch">{{ resumes.pitch }}</textarea>
                                        </label>
                                        <a>Submit</a>
                                    
                                    
                                        <label>
                                            Education
                                            <textarea name="pitch">{{ resumes.education }}</textarea>
                                        </label>
                                        <a>Submit</a>
                                    
                                    
                                        <label>
                                            Position
                                            <textarea name="pitch">{{ resumes.position }}</textarea>
                                        </label>
                                        <a>Submit</a>
                                    
                                    <button>Submit Attributes Form</button>
                                </form>
                                {% else %}
                                <form action="/add_attributes" method="POST">
                                    
                                    <label>
                                        Pitch
                                        <textarea name="pitch">{{ resumes.pitch }}</textarea>
                                    </label>
                                    <a>Submit</a>
                                
                                
                                    <label>
                                        Education
                                        <input type="text" name="education" value={{ resumes.education }}>
                                    </label>
                                    <a>Submit</a>
                                
                                
                                    <label>
                                        Position
                                        <input type="text" name="position" value={{ resumes.position }}>
                                    </label>
                                    <a>Submit</a>
                                
                                <button>Submit Attributes Form</button>
                            </form>
                                {% endif %}
                            </div>
                        </div>

                        <div>
                            <h3>Add Abilities</h3>
                            <div>
                                <form action="/add_ability" method="POST">
                                    <label for="ability">
                                        <input type="text" name="ability">
                                        <button>Add Ability</button>
                                    </label>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>