<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minute.css') }}">
</head>
<body>
    
    <div id="global">

        <div class="top_nav_bar">
            <a class="logo-link" href="/homepage">
                <img class="minute_header" src="../../static/media/minute_header.png" alt="minute header">
            </a>
            <div class="account">
                <a>Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div class="main">
            <h2>Track your Future</h2>
            <div class="body">
                <div class="side-nav-bar">
                    <a href="/homepage"><h2 class="return-home">Home</h2></a>
                    <div class="side-calender">
                        <h2>Calender</h2>
                        <div class="side-links">
                            <a href="/calender">View</a>
                            <a>Manage</a>
                        </div>
                    </div>
                    <div class="side-evaluation">
                        <h2>Application</h2>
                        <div class="side-links">
                            <a href="/applications">View</a>
                            <a>Manage</a>
                        </div>
                    </div>
                    <div class="side-evaluation">
                        <h2>Evaluations</h2>
                        <div class="side-links">
                            <a href="/evaluation">View</a>
                            <a>Manage</a>
                        </div>
                    </div>
                    <div class="side-minute">
                        <h2>Minutes</h2>
                        <a class="side-links" href="/minute">Queue</a>
                    </div>
                </div>
    
                <div class="content">
                    <div class="minute-info"></div>
                    <div class="minute-navigate">
                        <a href="/minute">Attendees</a>
                        <a href="/minute/inbox">Message inbox</a>
                    </div>
                    <div class="minute-footer">
                        <div class="minute-profile">
                            <img src="" alt="">
                            <div class="minute-name">
                                <h3>John Doe</h3>
                                <a>Message</a>
                            </div>
                            <div class="is-online"></div>
                            <p></p>
                        </div>
                        <div class="minute-profile">
                            <img src="" alt="">
                            <div class="minute-name">
                                <h3>John Doe</h3>
                                <a>Message</a>
                            </div>
                            <div class="is-online"></div>
                            <p></p>
                        </div>
                        <div class="minute-profile">
                            <img src="" alt="">
                            <div class="minute-name">
                                <h3>John Doe</h3>
                                <a>Message</a>
                            </div>
                            <div class="is-online"></div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>