<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome_page.css') }}">
</head>
<body>
    
    <div id="global">
        <h1 class="welcome_title">Welcome to my Flask Application <img class="logo-title" src="../static/media/minute_logo.png" alt="minute-logo"></h1>
    
        <div class="credentials">
            <a class="login-link" href="/login_page">Login</a>
            <a class="register-link" href="/register_page">Register</a>
            <a class="login-link" href="/company_login_page">Business Login</a>
            <a class="register-link" href="/company_register_page">Register Business</a>
        </div>
        
        <form class="register_credentials" action="/company_register_form" method="POST">
            {% with messages = get_flashed_messages(category_filter=['registration']) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash_register">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="name">
                <input type="text" name="name" placeholder="Business name"/>
            </label>
            <label for="industry">
                <input type="text" name="industry" placeholder="Industry"/>
            </label>
            <label for="brief">
                <textarea name="brief" placeholder="Company Brief"></textarea>
            </label>
            <label for="email">
                <input type="text" name="email" placeholder="Email"/>
            </label>
            <label for="password">
                <input type="password" name="password" placeholder="Password"/>
            </label>
            <label for="confirm_password">
                <input type="password" name="confirm_password" placeholder="Confirm password"/>
            </label>
            <button>Register</button>
        </form>
    </div>

</body>
</html>