#global, html {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    } .top_nav_bar {
        width: 100%;
        height: 9vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        } .logo-link {
            width: 100%;
        } .minute_header {
            margin-left: 2.5%;
            width: 12%;
        } .account {
            margin-right: 2.5%;
    } .main {
        height: 100vh;
        width: 100%;
        } .main > h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 5%;
            margin: 0;
            margin-bottom: 2.5%;
            font-size: large;
        } .body {
            height: 90vh;
            width: 100%;
            display: flex;
            } .side-nav-bar {
                width: 14%;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                border-right: thin solid black;
            } .side-nav-bar > a {
                text-decoration: none;
                color: black;
            } .return-home {
                margin: 0;
                font-size: medium;
            } .side-calender, .side-evaluation, .side-minute {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 5%;
                } .side-calender > h2 {
                    font-size: medium;
                } .side-evaluation > h2 {
                    font-size: medium;
                } .side-minute > h2 {
                    font-size: medium;
                } .side-links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5vh;
                    margin-left: 20%;
                    font-size: small;
                    } .side-links > a {
                        font-size: small;
            } .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95%;
                height: 90%;
                } .minute-info {
                    width: 90%;
                    height: 45%;
                    border-radius: 5px 5px 5px 5px;
                    background-color: rgba(128, 128, 128, 0.252);
                } .minute-navigate {
                    width: 100%;
                    height: 7.5%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: 0.95em;
                } .minute-footer {
                    width: 90%;
                    height: 45%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    } .minute-list {
                        width: 35%;
                        height: 100%;
                        gap: 0.5vh;
                        display: flex;
                        flex-direction: column;
                        } .minute-choice {
                            width: 100%;
                            height: 15%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            /* border-radius: 12px 0px 0px 12px; */
                            background-color: rgba(24, 24, 103, 0.772);
                            } .minute-choice > h3 {
                                margin-left: 5%;
                                margin-top: 0;
                                margin-bottom: 0;
                                color: white;
                                font-size: 0.95em;
                            } .minute-choice > h4 {
                                margin-left: 5%;
                                margin-top: 0;
                                margin-bottom: 0;
                                color: white;
                    } .minute-description {
                        background-color: rgba(128, 128, 128, 0.252);
                        width: 80%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        } .chat-display {
                            height: 90%;
                            width: 100%;
                        } form.chat-input {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            } .chat-input > label {
                                width: 100%;
                                } input.chat-text {
                                    width: 99%;
                                    height: 98%;
                            } .chat-input > button {
                                width: 12%;
                                height: 100%;
                            }